body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #220921;
  margin: 0;
}

canvas {
  background: #000000;
  box-shadow: 0 0 20px rgb(96, 186, 149);
  border-radius: 10px;
}
